.main{
    font-family: Montserrat Arial;
    flex: 1 1 auto;
    background: rgba(252,252,252, 0.2);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.error-tab{
    align-self: center;
    color: white;
    font-weight: 800;
    border: none;
    outline: none;
    background: rgba(252,252,252, 0.3);
    padding: 5px;
    border-radius: 10px;
    padding: 10px 20px;
}
.main__form{
    box-sizing: border-box;
    background: rgba(252,252,252, 0.3);
    width:100%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form__title{
    font-weight: 800;
    font-size: 30px;
    color: #ffffff;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.button{
    cursor: pointer;
    color: white;
    font-weight: 800;
    border: none;
    outline: none;
    background: rgba(252,252,252, 0.3);
    padding: 5px;
    border-radius: 10px;
    padding: 10px 20px;
}
.button:disabled{
    background-color: red;
    cursor: auto;
}
.cards{
    width: 100%;
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    /*flex-flow: row nowrap;*/
    align-items: center;
    row-gap: 20px;
    justify-content:space-between;
}

