.main{
    font-family: Arial;
    flex: 1 1 auto;
    background: #efabef;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main__form{
    box-sizing: border-box;
    background-color: white;
    width:100%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form__title{
    font-weight: 800;
    font-size: 30px;
    color: #3f3d3d;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.input{
    border: none;
    outline: none;
    font-size: 16px;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 10px;
}
.button{
    cursor: pointer;
    color: white;
    font-weight: 800;
    border: none;
    outline: none;
    background-color: white;
    background-color: #cc1bcc;
    padding: 5px;
    border-radius: 10px;
    padding: 10px 20px;
}

.cards{
    width: 100%;
    display: flex;
    max-width: 700px;
    margin: 0px auto;
    flex-wrap: wrap;
    /*flex-flow: row nowrap;*/
    align-items: center;
    row-gap: 20px;
    justify-content: space-between;
}

