.input{
    border: none;
    outline: none;
    font-size: 16px;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 10px;
    border-bottom: 2px white dashed;
}
::placeholder{
    color: white;
}