.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px;
    height: 20px;
    background: #cc1bcc;
    border-radius: 10px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 800;
    color: white;
    gap: 10px;
}
a{
    display: block;
    background: rgba(119, 15, 119, 0.18);
    padding: 10px;
    border-radius: 10px;
}
a:hover{
    background: rgba(119, 15, 119, 0.63);
}

.link{
    text-decoration: none;
    color: white;
}