.card-container{
    color: white;
    font-size: 0.9em;
    background: rgba(252,252,252, 0.3);
    display: flex;
    flex-direction: column;
    width: auto;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.card-title{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.1em;
    text-align: left;
    word-break: break-word;
}
/*.card-temperature{*/
/*    color: #ffffff;*/
/*    font-weight: 700;*/
/*}*/
.card-info{
    display: grid;
    grid-template-rows: repeat(3,fit-content(100%));
    grid-template-columns: repeat(2,150px);
    row-gap: 20px;
    column-gap: 10px;
    word-break: break-word;
}

button{
    cursor: pointer;
    color: white;
    font-weight: 800;
    border: none;
    outline: none;
    background: rgba(252,252,252, 0.3);
    padding: 5px;
    border-radius: 10px;
    padding: 10px 20px;
}
.card-image img{
    width:70px;
    height: 70px;
}
.card-body{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.card-body__map{
    align-self: center;
}