.card-body__map{
    position: relative;
    display: flex;
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: center;
}
@media (max-width: 797px) {
    .card-body__map{
        width: 300px;
    }
}
