@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #568ed2;
  height: 100vh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


